@import '../../styles/mixins';
.wrapp {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  @include tablet {
    min-width: 600px;
  }
}

.images_wrapp {
  display: none;
  @include tablet {
    display: flex;
    gap: 10px;
  }
}

.button_wrapp {
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: none;
  }
}
