.form {
  & button {
    position: relative;
    color: var(--text, #fff);
    background-color: transparent;
    font-family: var(--font-muller);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 54px;
    border: transparent;
    &::after {
      content: '';
      position: absolute;
      top: 40%;
      right: 0;
      background-image: url('../../../public/images/mdi_arrow-r.svg');
      transform: translate(0, -50%) rotate(-45deg);

      width: 40px;
      height: 40px;

      background-size: auto;
      background-repeat: no-repeat;
    }
  }
}

.btn {
  margin-top: 20px;
}
.wrapp {
  display: flex;
  align-items: center;
}

.checkbox {
  padding: 10px;
}
