.data {
  padding: 25px;
  background-color: color-mix(in lch, var(--background), #3d3d3d);
  color: aliceblue;

  display: flex;
  justify-content: center;
  gap: 15px;

  & label {
    top: -10px;
    color: var(--text);
  }

  & input {
    color: var(--text);
    border: #fff solid 1px;
  }
  & svg {
    color: var(--text);
  }
}
.text {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  color: var(--text, #fff);
  font-family: var(--muller);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price {
  color: var(--text, #fff);

  font-family: var(--muller);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  &_days {
    width: 110px;
  }
  &_percent {
    width: 100px;
  }
  & li {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 30px;
    border-bottom: 1px solid color-mix(in lch, var(--background), #a5a5a5);

    &.days {
      color: color-mix(in lch, var(--text), #3a3a3a);
    }
  }

  & span {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}
.price_all {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: color-mix(in lch, var(--background), #3d3d3d);
  text-align: center;
  &_title {
    margin-bottom: 10px;
  }
}
