@import '../styles/mixins';
.section {
  padding: 163px 0;
}
.title {
  color: var(--text, #fff);

  font-family: var(--font-miller);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include tablet {
    font-size: 120px;
  }
}
