@import '../styles/mixins';

.section {
  padding-top: 100px;
}
.wrapp {
  @include pc {
    display: flex;
    gap: 25px;
  }
}

.image {
  width: 80%;
  height: 100%;
  @include tablet {
    width: 600px;
    height: 466px;
  }
  @include pc {
    width: 1000px;
    height: 666px;
  }
}
.text_wrapp {
  padding: 20px 0;
}
.title {
  color: var(--text, #fff);

  font-family: var(--font-monument);
  font-size: 26px;
  font-weight: 350;

  @include tablet {
    font-family: var(--font-muller);
    font-size: 60px;
    font-weight: 700;
  }

  &_sec {
    color: var(--text, #fff);

    font-family: var(--font-monument);
    font-size: 14px;
    font-weight: 350;
    margin-bottom: 28px;

    @include tablet {
      font-size: 30px;
      margin-bottom: 58px;
    }
  }
}
