@import '../../styles/mixins';

.section {
  position: relative;
  min-width: var(--small-screen);
  padding-top: 133px;
  padding-bottom: 50px;
  background-image: image-set(
    url(../../../public/images/hero/herobg_mob@1x.jpg) 1x,
    url(../../../public/images/hero/herobg_mob@2x.jpg) 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet {
    padding-top: 605px;
    height: 920px;
    background-image: image-set(
      url(../../../public/images/hero/herobg_des@1x.jpg) 1x,
      url(../../../public/images/hero/herobg_des@2x.jpg) 2x
    );
  }
}
.title {
  width: 290px;
  color: #fff;
  font-family: var(--font-monument);
  font-size: 14px;

  font-weight: 350;
  line-height: 1.68;

  @include tablet {
    width: auto;
    font-size: 60px;
  }

  &_sec {
    font-size: 26px;
    font-weight: 350;
    margin-bottom: 327px;
    font-family: var(--font-monument);
    color: #fff;
    @include tablet {
      margin-bottom: 0;
    }
  }
}
.contacts {
  position: absolute;
  bottom: 15px;

  @include tablet {
    right: 15px;
    text-align: right;
  }
}
.wrapp {
  position: absolute;
  right: 15px;
  bottom: 0;
  transform: translateY(50%);

  @include tablet {
    left: 15px;
  }
}
