.item {
    padding: 7px 0;
}
.link,
.big {
    position: relative;
    color: var(--text, #fff);
    text-align: right;
    padding-right: 34px;
    font-family: Muller;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        background-image: url("../../../public/images/mdi_arrow-r.svg");
        transform: translate(0, -50%) rotate(-45deg);

        width: 32px;
        height: 32px;

        background-size: auto;
        background-repeat: no-repeat;
    }
}
.big {
    padding-right: 44px;
    &::after {
        width: 40px;
        height: 40px;
    }
}
