@import '../../styles/mixins';

.footer::before {
  content: '';
  width: 100%;
  height: 90px;
  display: block;
  background-image: url(../../../public/images/lemann.svg);
  background-position: -190px;
}
.wrapp,
.wrapp_des {
  padding: 10px;
}
.wrapp {
  &_des {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  @include tablet {
    display: none;
    &_des {
      display: flex;
    }
  }
}

.circle {
  margin: 27px auto;
  @include tablet {
    display: none;
  }
}
