.text {
  margin-left: -200px;
  color: var(--text, #fff);

  font-family: var(--font-muller, #fff);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
}
.wrapp {
  display: flex;
  justify-content: space-between;
}
.list {
  margin-top: 60px;
}
