@import '../../styles/mixins';
.header_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  @include tablet {
    display: block;
    border-bottom: 0.5px solid var(--text, #fff);
    background: rgba(23, 23, 23, 0.1);
  }
}
.header_wrapp {
  width: 228px;
  padding: 18px;
}
.wrapper {
  display: none;

  align-items: center;
  @include tablet {
    display: flex;
  }
}
.navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--text, #fff);

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: 900px) {
    font-size: 14px;
  }

  @include pc {
    font-size: 16px;
  }

  & a {
    padding: 10px;
    text-align: center;
  }
}
.burger {
  @include tablet {
    display: none;
  }
}
