.header_section {
    display: none;
    position: absolute;
    width: 100%;
    border-bottom: 0.5px solid var(--text, #fff);
    background: rgba(23, 23, 23, 0.1);
    backdrop-filter: blur(10px);

    @media (min-width: 1700px) {
        display: block;
    }
}
.header_wrapp {
    width: 228px;
    padding: 18px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.navigation {
    margin-left: auto;

    color: var(--text, #fff);

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    & a {
        padding: 20px;
    }
}
