@import '../../styles/mixins';
.section {
  padding: 30px 15px 45px;
}
.wrapp {
  @include tablet {
    display: flex;
  }
}
.title {
  font-family: var(--font-monument);
  font-size: 14px;
  font-weight: 350;
  color: var(--text);

  margin-bottom: 20px;
  &_sec {
    font-family: var(--font-monument);
    font-size: 26px;
    font-weight: 350;
    color: var(--text);
    @include tablet {
      font-size: 60px;
    }
  }
  &_adv {
    margin-bottom: 50px;
  }
  @include tablet {
    font-size: 30px;
    font-family: var(--font-muller);
  }
}
