@import '../../styles/mixins';
.section {
  padding: 30px 15px 45px;
}
.wrapp {
  @include tablet {
    display: flex;
  }
}
.title {
  font-family: var(--font-monument);
  font-size: 14px;
  font-weight: 350;
  color: var(--text);

  margin-bottom: 20px;
  &_sec {
    font-family: var(--font-monument);
    font-size: 26px;
    font-weight: 350;
    color: var(--text);
    @include tablet {
      font-size: 60px;
    }
  }
  &_adv {
    margin-bottom: 50px;
  }
  @include tablet {
    font-size: 30px;
    font-family: var(--font-muller);
  }
}
.advantage {
  &_title {
    font-family: var(--font-monument);
    margin: 25px 0;
    font-size: 20px;
    font-weight: 350;
    line-height: 100%;
    color: var(--text);
  }
  &_para {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: var(--font-muller);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: var(--text);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    @include tablet {
      margin-bottom: 30px;
    }
  }
  &_para:last-child {
    margin-bottom: 0;
  }
}
