.list {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding: 20px 0;
}
.list {
    &::-webkit-scrollbar {
        width: 56px;
        height: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(217, 217, 217, 0.1);
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(217, 217, 217, 0.1);
    }
}
