.wrapp {
    position: relative;
    padding: 15px;
    width: 265px;
    border: 1px solid var(--border);
}
.logo {
    margin-bottom: 43px;
}
.arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    transform: rotate(-45deg);
}
.name {
    color: var(--white, #fff);

    font-size: 18px;
    font-weight: 300;
    & span {
        opacity: 0.5;
    }
}
