.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  margin: 20px 0;
}
.wrapp {
  padding: 15px;
  width: 265px;
  border: 1px solid var(--border);
  font-family: var(--font-mull);
  color: var(--text, #fff);
}

.title {
  margin-bottom: 45px;

  font-size: 18px;
  font-weight: 300;
}
