.section {
    padding: 30px 0;
}

.title {
    width: 300px;
    font-family: var(--font-monument);
    font-size: 26px;
    font-weight: 350;
    line-height: 100%;
    margin-bottom: 50px;
}
.link {
    font-size: 18px;

    &_wrap {
        padding: 92px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #2f2f2f;
        background: rgba(47, 47, 47, 0.5);
        align-items: center;
    }
}
